@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@layer base {
  :root {
    --bg-primary-color-whenThemeDark: gray;
    --text-primary-color-whenThemeDark-: white;
  }

  html.dark {
    background-color: black;
  }
}


.table-wrapper {
  overflow-x: scroll;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}