@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@layer base {
  :root {
    --bg-primary-color-whenThemeDark: gray;
    --text-primary-color-whenThemeDark-: white;
  }

  .dark {
  }
}

@layer base {
}

.table-wrapper {
  overflow-x: scroll;
}
