@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@layer base {
  :root {
    --bg-primary-color-whenThemeDark: gray;
    --text-primary-color-whenThemeDark-: white;
  }

  html.dark {
    background-color: black;
  }
}


.table-wrapper {
  overflow-x: scroll;
}
